@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@font-face {
  font-family: FontAwesome;
  src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0) format(embedded-opentype), url(../fonts/fontawesome-webfont.woff2?v=4.3.0) format(woff2), url(../fonts/fontawesome-webfont.woff?v=4.3.0) format(woff), url(../fonts/fontawesome-webfont.ttf?v=4.3.0) format(truetype), url(../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular) format(svg);
  font-weight:normal;
  font-style:normal;
}

body {
  color: #d2d2d2;
  font-family:'Open Sans', sans-serif;
  overflow: hidden;
}

li {
  border-bottom: 1px solid rgba(255,255,255,0.2);
  list-style-type:none;
  padding: 15px 0;
}

li:last-child {
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}

h3 {
  font-size: 24px;
}

h3 button {
  border: solid 1px #d2d2d2;
  color: #d2d2d2;
  display: inline-block;
  float: right;
  font-size: 12px;
  font-weight: normal;
  padding: 5px;
}

button:active,button:focus,input:active,input:focus {
  outline: none;
}

input[type='range'] {
  -webkit-appearance: none;
  background-color: rgba(255,255,255,0.2);
  height: 8px;
  margin: 0 15px;
  vertical-align: super;
}

input[type='range']::-moz-range-track {
  background-color: rgba(255,255,255,0.2);
  height: 8px;
  vertical-align: text-bottom;
  -moz-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none!important;
  background-color: #999;
  border: 1px solid #999;
  border-radius: 15px;
  height: 15px;
  width: 15px;
}

input[type='range']::-moz-range-thumb {
  -moz-appearance: none;
  background-color: #999;
  border: 1px solid #999;
  border-radius: 15px;
  height: 15px;
  width: 15px;
}

progress[value] {
  background-color: transparent;
  height: 11px;
  vertical-align: super;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: transparent;
  border: 1px solid rgba(255,255,255,0.2);
  height: 11px;
  vertical-align: super;
}

progress[value]::-moz-progress-bar {
  background-color: transparent;
  border: 1px solid rgba(255,255,255,0.2);
  height: 11px;
  vertical-align: super;
}

progress[value]::-webkit-progress-value {
  background-color: rgba(255,255,255,0.2);
}

footer {
  background-color: #222;
  bottom: 0;
  box-shadow: inset 0 0 1em rgba(0,0,0,0.4);
  height: 100px;
  position: fixed;
  width: 100%;
}

li span {
  font-size: 1.2rem;
  vertical-align: text-bottom;
}

hr {
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(255,255,255,0.2);
  height: 6px;
  margin: 0 -15px; 
  margin-bottom: 15px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #222;
  border: 1px solid #d2d2d2;
  border-bottom: none;
}

.bitdance {
  background-color: #000;
  background-image: url(../bitdance.gif);
  height: 554px;
  overflow: hidden;
  padding: 12% 0;
  width: 100%;
}

.scrollbar::-webkit-scrollbar {
  background-color: #222;
  width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #d2d2d2;  
}

.right-button {
  margin-left: 20px;
  padding-top: 13px;
  width: 139px;
}

.central-button {
  margin: 0 auto;
  margin-top: -30px;
  width: 115px;
}

.left-button {
  float: right;
  margin-right: 20px;
  margin-top: -30px;
}

.fa {
  color: rgba(255,255,255,0.2);
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.fa-play,.fa-pause {
  color: #d2d2d2;
  font-size: 2.5rem;
  margin: 0 18px 0 24px;
  vertical-align: sub;
}

.fa-step-backward,.fa-step-forward {
  color: #d2d2d2;
}

.fa-repeat {
  margin-right: 15px;
}

.hide {
  display:none;
}

.playlist {
  background: #222;
  float: right;
  height: 554px;
  margin-top: -12%;
  padding: 20px 15px 0 15px;
  padding-top: 40px;
  overflow-y: scroll;
  width: 320px;
}

.playlist-artist {
  color: rgba(255,255,255,0.4);
  font-size: 12px;
  font-style: italic;
  padding-left: 32px;
}

.playlist-id {
  border-right: 1px solid rgba(255,255,255,0.2);
  float: left;
  margin-right: 10px;
  padding-right: 10px;
}

.playlist-time {
  font-size: 14px;
  float: right;
  margin-left: 15px;
}

.clicked {
  display: none;
}

.reset_position {
  margin: 12.1% auto 0;
}

/* CSS media queries */

@media (min-width: 340px) and (max-width: 360px) {
  .buttons li:first-child {
    display: none;
  }
  li h3 {
    margin-top: 40px;
  }
}
