// Typography
$headlines-font: 'Yellowtail', cursive, serif;
$general-font: 'ABeeZee', arial, sans-serif;

// Colors
$bg-body: #705B5A;			//gray
$bg-footer: #CC3D3D;		//red
$bg-header: #CC3D3D;		//red
$bg-nav: #573A6B;			//purple
$bg-works-info: #573A6B;	//purple
$headlines-color: #FC6868;	//pink
$headlines-shadow: #705B5A;	//gray
$links: #C6DB4F;			//lime-green
$text-color: #FFF9E6;		//white

// Texture
$texture: url(../images/egg-shell.png);

// Sections Width Layout
$max-width-layout: 1200px;
